[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
python-webpack-boilerplate = "*"
psycopg2 = "*"
django-extensions = "*"
wagtail-markdown = "*"
python-markdown-math = "*"
wagtail-django-recaptcha = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
wagtailmenus = "*"
wagtail-metadata = "*"
django-contrib-comments = "*"
emoji = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
